---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Whatsapp from "../components/Whatsapp.astro";
interface LayoutProps {
  title: string;
  description?: string;
  keywords?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title,
  description = "Equipo multidisciplinario de Argentina para el tratamiento integral de la obesidad. Ofrecemos Manga Gástrica, Bypass, Balón Gástrico y Cirugías de Revisión.",
  keywords = "cirugía bariátrica, manga gástrica, bypass gástrico, balón gástrico, tratamiento obesidad, cirugías de revisión, argentina",
  ogImage = "/og-image.png",
  canonicalURL = Astro.url.href,
} = Astro.props as LayoutProps;

const siteTitle = "Bariátrica Integral";
const siteURL = "https://bariatrica-integral.netlify.app";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title} | {siteTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="canonical" href={canonicalURL} />

    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={`${siteURL}${ogImage}`} />
    <meta property="og:site_name" content={siteTitle} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tuusuario" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${siteURL}${ogImage}`} />

    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  </head>

  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="flex-grow">
      <slot />
      <Whatsapp phone="5491127184661" message="Hola! Quiero mas informacion!" />
    </main>

    <Footer />

    <script is:inline src="https://unpkg.com/aos@2.3.4/dist/aos.js" defer
    ></script>
    <script is:inline type="module">
      AOS?.init({
        duration: 800,
        offset: 50,
        once: true,
        easing: "ease-in-out",
      });
    </script>
  </body>
</html>
